.name,
.phone-number,
.address{
  display: grid;
  grid-template-columns: 1fr 0.3fr;
}
.linkedin{
  display: grid;
  grid-template-columns: 0.1fr 0.9fr 0.3fr;
}
.linkedin-img{
  height: 20px;
}

.general{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.name-form,
.phone-number-form,
.address-form{
  display: grid;
  grid-template-rows: 0.3fr 1fr 1fr;
}
