body {
  background-color: peachpuff;
}

/* edit image styling */
.edit {
  cursor: pointer;
}

/* navbar */

.nav img {
  height: 50px;
  width: 50px;
}

/* general section */

.general {
}

.general .linkedin-img {
  height: 30px;
  width: 30px;
}

/* skills section */

.add,
.remove {
  cursor: pointer;
}